@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 95.5%;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background: rgba(241, 247, 255, 0.9);
  scroll-behavior: smooth;
  line-height: 1.6;
  overflow-x: hidden;
}

/* .ul a.active {
  color: #000;
} */

#wrapper::-webkit-scrollbar{
  width: 0px;
}